  body{
    font-family: 'Delius';
    background-color: white;
    font-size: 16px;
  }

  img{
    height: 6rem;
    width: 6rem;
  }

  .show-inline{
    display: flex;
    flex-direction: row;
  }